# Environment
.env

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet
*.nupkg
.nuget/
packages/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# IDE
.idea/
.vscode/
*.swp
*.swo
.vs/

# OS
.DS_Store
Thumbs.db
