# Ignore bundler config
/.bundle

# Ignore Gemfile.lock (optional for apps)
Gemfile.lock

# Ignore logs
/log/*
!/log/.keep

# Ignore temp files
/tmp/*
!/tmp/.keep

# Ignore environment files
.env
.env.local
.env.*.local

# Ignore macOS files
.DS_Store
